@import 'tailwindcss';

:root {
    --Spinner-bg: url(./infinite-spinner.svg);
    --fonts-size-1: 48px;
    --fonts-size-2: 40px;
    --fonts-size-3: 32px;
    --fonts-size-4: 24px;
    --fonts-size-5: 20px;
    --fonts-size-6: 16px;
    --fonts-size-7: 15px;
    --fonts-size-8: 14px;
    --fonts-size-9: 13px;
}

html,
body,
#root {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}